.app-container {
    margin: 50px;
    padding: 30px;
}

.messages-container {
    width: 90%;
    overflow-y: auto;
    max-height: 600px;
    overflow-x: hidden;
    padding-left: 20px;
    scroll-margin-top: 0px;
    scroll-margin-bottom: 0px;
}

.btn {
    border: 1px solid black;
    width: fit-content;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

.btn:hover {
    cursor: pointer;
    background: rgb(99, 56, 219);
}

.message-input {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
}