.message-wrapper{
    /* border: 1px solid black; */
    border-radius: 20px;;
    padding: 10px 0px 20px 20px;
    margin-bottom: 10px;
    background: rgb(141, 141, 141);
    box-shadow: 5px 5px 10px 2px rgb(8, 8, 8);
}

.user{
    color: rgb(206, 206, 206);
}

.my-own-message{
    background: rgb(76, 121, 204);
}